* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
  color: #18233f;
}

body,
div,
header,
ul,
li,
a {
  padding: 0;
}

/* ---- HEADER SECTION ----*/

header {
  position: fixed;
  width: 100%;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header__checkbox {
  display: none;
}

.header__open-nav-button {
  color: #4488ee;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  right: 30px;
}

.header__nav {
  display: none;
  background-color: #fff;
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  top: 0;
  z-index: -1;
}

.header__checkbox:checked ~ .header__nav {
  display: block;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-evenly;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-item a {
  color: #4488ee;
  text-decoration: none;
  font-size: 1.4rem;
}

.header__logo-container {
  font-size: 0;
  line-height: 0;
}

.header__logo {
  max-width: 100%;
  width: 128px;
  padding: 10px;
}

.logo--mobile {
  display: block;
}

.logo--desktop {
  display: none;
}

/* ---- HEADER QUERIES ----*/

@media screen and (min-width: 600px) {
  header {
    position: static;
  }

  .header__nav {
    display: block;
    position: static;
    width: auto;
    height: auto;
    z-index: 0;
  }

  .header__nav-list {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 20px;
    padding-right: 20px;
  }

  .header__open-nav-button {
    display: none;
  }

  .header__nav-item a {
    font-size: 1.2rem;
  }

  .logo--mobile {
    display: none;
  }

  .logo--desktop {
    display: block;
  }
}

/* ---- HEADER END ----*/

/* FORMULARIO*/

.form__container {
  margin: auto;
}

.form__container-titulo {
  text-align: center;
  font-size: 1.5rem;
  color: #e2eaff;
}

.form--wrapper {
  border-bottom: 30px;
}

form {
  height: 40dvh;
  margin: 0;

  flex-direction: column;
  align-items: center;
}

form fieldset {
  margin: auto;
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #e2eaff;
  background: #18233f;
  box-shadow: 0px 0px 20px lightgrey;
}

.fieldset__first {
  width: 83%;
  margin: auto;
  padding: 30px;
  text-align: left;
  font-size: larger;
  color: #fff;
}

.fieldset__first legend {
  text-align: center;
}

.fieldset__first label {
  padding: 10px 10px 10px 0px;
}

.fieldset__second {
  width: 60%;
  padding: 30px;
  margin-bottom: 50px;
}
.fieldset__second legend {
  padding: 15px;
  font-size: large;
}

.fieldset__second label {
  padding: 10px 10px 10px 0px;
  font-size: large;
}

.fieldset__second textarea {
  height: 100px;
}

input {
  padding: 15px;
  border-radius: 10px;
}

.curriculum {
  margin-top: 30px;
  text-align: left;
}

.file {
  padding: 20px 20px 20px 0px;
}

.btn {
  text-align: center;
  width: 150px;
  height: 50px;
  font-size: 18px;
  margin: auto;
  background-color: #4488ee;
  color: #fff;
  border-radius: 10px;
  margin-top: 15px;
  border: #fff;
  border: 1px solid white;
}

.btn:hover {
  background: #18233f;
  border: 1px solid white;
}

/*FORMULARIO QUERYS*/

@media screen and (min-width: 600px) {
  .fieldset__first {
    width: 50%;
    margin: auto;
    padding: 30px;
    text-align: left;
    font-size: larger;
  }

  .fieldset__second {
    width: 50%;
  }
}
